*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 200px;
    --background-color: #F7EBE4;
    --primary-color: #e1b399;
    --secondary-color: #f1dcd0;
    --accent-color: #bc6938;
    --text-color:#23140b;
    --mark-size: calc(var(--cell-size) * 0.8);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.header {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: var(--text-color);
    margin-top: 50px;
}

.game-board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}


.cell:nth-child(3n+3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell > img {
    width: var(--mark-size);
    height: var(--mark-size);
}